<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/index.html"><img class='youtubeIcon' src='../assets/img/YouTube.png'></a>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

      <form class="form-inline my-2 my-md-0 mx-auto">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
          <img src='../assets/img/magGlass.png'>

        </button>
      </form>
    </div>
  </nav>
